var conf = {
    "COLOR": manifest.splashscreen.background,
    "BKCOLOR": manifest.splashscreen.color,
    "assets": [
        {
            "src": manifest.icon.file,
            "transform": {
                "resize": "16,16"
            },
            "dest": "Contents/Resources/webapp/ico.png"
        },
        {
            "name": "ICON",
            "src": manifest.splashscreen.file,
            "transform": {
                "resize": "256,256"
            },
            "dest": "Contents/Resources/webapp/logo.png"
        }
    ]
}